<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <title>Página 07</title>
    </head>

    <body>
        <h1>Expressões em AngularJS</h1>

        <div ng-app="">
            <p><label for="nome">Nome:</label>
            <input type="text" id="nome" ng-model="nome">
            </p>

            <p><label for="sobrenome">Sobrenome:</label>
            <input type="text" id="sobrenome" ng-model="sobrenome">
            </p>

            <p>Nome completo: {{ nome + ' ' + sobrenome }}</p>
        </div>
    </body>
</html>