body {
	background-color: #EEEEEE;
	font-family: verdana;
}

h1, h2 {
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: underline;
	/* text-decoration: overline; */
	/* text-decoration: underline overline; */
	/* text-decoration: line-through; */
}

p {
	font-size: 11pt;
	line-height: 16pt;
	text-align: justify;
	text-indent: 50px;
}

blockquote {
	font-size: 10pt;
	font-style: italic;
	text-align: right;
}

address {
	font-size: 10pt;
	font-style: normal;
	text-align: center;
	text-transform: capitalize;
}

a {
	font-size: 11pt;
	color: darkblue;
	text-transform: lowercase;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}